.search {
  margin: 0 auto;
  &__input {
    padding: 0.5rem;
    border-radius: 0 !important;
    background-color: rgba(42, 55, 128, 0.856);
    color: rgba(254, 254, 254, 0.833);
    border: 2px solid rgba(245, 245, 245, 0.457);
    width: calc(100vw - (25vw * 2));
    margin: 0 auto 30px 30px;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.15;
  }
  @media screen and (max-width: 849px) {
    &__input {
      font-size: 0.975rem;
    }
  }
}
