<form class="search">
  <mat-form-field appearance="fill">
    <mat-label>Search any games...</mat-label>
    <input
      placeholder="Minimum 1 characters"
      type="text"
      aria-label="Text"
      matInput
      [(ngModel)]="inputVal"
      (keyup)="onChangeInput()"
      [formControl]="myControl"
      [matAutocomplete]="auto"
      class="search__input"
    />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option
        *ngFor="let option of filteredOptions | async"
        [value]="option.name"
        (click)="onChangeInput(option.name)"
      >
        {{ option.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
