.cards {
  margin: 20px auto 67px;
  -webkit-animation-name: animate-center;
  -webkit-animation-duration: 1s;
  animation-name: animate-center;
  animation-duration: 1s;
  &__grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
    gap: 20px 17px;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    justify-items: center;
  }
}
