.card-page {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  -webkit-animation-name: animate-center;
  -webkit-animation-duration: 1s;
  animation-name: animate-center;
  animation-duration: 1s;
  &__title {
    color: #d1dce7;
    line-height: 1.5625rem;
    font-size: 1.5625rem;
    text-decoration: underline;
  }
  &__subtitle {
    color: #b7bfc7;
    line-height: 1.5625rem;
    font-size: 1.2625rem;
  }
  &__genre {
    text-align: center;
    color: #b7bfc7;
    line-height: 1.5625rem;
    font-size: 1.0625rem;
    font-weight: 500;
  }
  &__img {
    margin: 20px 0;
  }
  &__description {
    line-height: 1.5;
    text-align: left;
    margin: 0 0 20px 20px;
  }
  &__link {
    text-decoration: underline;
    cursor: pointer;
  }
}
