<ng-container *ngIf="game.id; else elseTemplate">
  <section class="card-page">
    <h2 class="card-page__title">{{ game.name }}</h2>
    <h3 class="card-page__subtitle">Release at : {{ game.released }}</h3>
    <div class="card-page__genre">
      Genres:
      <p *ngFor="let genre of game.genres">
        {{ genre.name }}
      </p>
    </div>
    <img
      src="{{ game.background_image }}"
      alt="Image of {{ game.name }}"
      class="card-page__img"
    />
    <article
      class="card-page__description"
      [innerHTML]="game.description"
    ></article>
    <p class="card-page__link" routerLink="/">Go back</p>
  </section>
</ng-container>
<ng-template #elseTemplate>
  <div style="text-align: center">Loading...</div>
</ng-template>
