/* Vendor */
@import "./assets/vendor/_normalize.scss";

/* Font Rule */
@import "./assets/fonts/inter/_inter.scss";

/* Function */
@import "./assets/function/_function.scss";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.page {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  background: linear-gradient(287deg, #3171d1, #4e4e4f), #ffffff;
  &__content {
    margin: 0 auto;
  }
}
img {
  max-width: 200px;
}
