.item-filter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px 0;
}
.mat-form-field {
  width: 30vw !important;
  background-color: rgb(89, 105, 132);
  text-align: center !important;
}

.mat-select-value,
.mat-select-arrow,
.mat-form-field-hide-placeholder .mat-select-placeholder,
.mat-form-field-appearance-legacy .mat-form-field-label {
  color: #fff !important;
  opacity: 1;
}

.mat-form-field-infix {
  border-color: #fff !important;
  border-top: none;
  padding-left: 5px !important;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: rgba(71, 67, 67, 0.933) !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: rgb(95, 95, 110) !important;
}
